@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

html {
    font-size: 20px;
    scroll-behavior: smooth;
}

@media (max-width: 425px) {
    body{
    background-color: black;
    background-image: url("./../images/HockeyPostSmallest.jpg");    
    }
    .dropdownSelector{
        font-size:1.5rem;
    }
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width:426px) and (max-width: 767px) {
    html{font-size:18px;}
    body{
    background-color: black;
    background-image: url("./../images/HockeyPostSmaller.jpg");
    background-position: left -10rem top 0rem; 
    }
    .dropdownSelector{
        font-size:1.5rem;
        left:1.25rem;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html{font-size:20px;}
    body{
    background-image:url("./../images/HockeyPost.jpg");
}
}

/* Large devices (desktops, 992px and up */
@media (min-width: 992px) {
    html{font-size:28px;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    html{font-size:30px;}
    #randomButton {
        left:2rem;
    }
    
}

@media (min-width: 2000px) {
    html{font-size:40px;}
}

body {
    font-family: 'Teko', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-snap-type: y mandatory;
}

.scroll-snap {
    scroll-snap-align:start;
}

#selectTeams {
    padding:0.5rem 0.5rem 1rem 0.5rem;
}

#selectTeams .row {
    text-align:center;
}

 .teamLogo {
    margin-top: 0.25rem;
    max-width:100%;
    max-height:40vh;
}

.vertical-center {
    height:100vh;
    display:flex;
    align-items:center;
}

.dropdownSelector {
    width:100%;
    margin: 0.6rem 0rem 0.5rem 0rem;
    text-align-last: center;
    justify-content: center;
    -moz-appearance: none;
	-webkit-appearance: none;
    appearance: none;
    color: rgb(15, 36, 65);
    padding: 0.3rem 1.2rem 0.3rem 0.3rem;
    font-weight: 500;
    border: 1px solid rgb(118, 165, 209);
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .2rem;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#c7c7c7 100%);
    background-repeat: no-repeat, repeat;
	background-position: right .35rem top 50%, 0 0;
    background-size: 0.65rem auto, 100%;
    /*CREDIT: https://www.filamentgroup.com/lab/select-css.html */
  }

#randomButton {
    font-size:2rem;
    background-color:white;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
    border: lightgray 0.1rem solid;
    border-radius: 2rem;
    padding:0.5rem;
    z-index:2;
    position: absolute;
    top:1rem;
    left: 0.5rem;
}

#randomButton:hover {
    cursor:pointer;
    background-image: linear-gradient(to bottom, #ffffff 0%,#c7c7c7 100%);
    border-color: gray;
}

#compareButton {
    font-size:1.7rem;
    visibility:hidden;
    padding:0;
}

#statistics {
    display:none;
}

.statList {
    padding:0.1rem;
}

.statList > li {
    margin: 1rem 0rem 1rem 0rem;
    font-size:1.5rem;
    padding:0.25rem 0rem;
    background-color: rgba(255, 255, 255, 0.712);
    list-style:none;
    text-align: center;
}
