@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

html {
    font-size: 18px;
}

 @media (max-width: 767px) {
    .dropdownSelector{
        font-size:1.5rem;
    }
    #versusText {
        display: none;
    }
    .teamLogo {
        max-height:30vh;
    }
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width:426px) and (max-width: 767px) {
    .dropdownSelector{
        left:1.25rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html{font-size:26px;}
    #versusText {
        display:inline-block;
        font-size:6rem;
        text-shadow: 0 0 0.3rem #fff, 0 0 0.5rem #fff, 0 0 1rem #e65400, 0 0 1.5rem #e65400, 0 0 2rem #e65400, 0 0 2.5rem #e65400, 0 0 3rem #e65400;
    }
    .teamLogo {
        max-height:40vh;
    }
}

/* Large devices (desktops, 992px and up */
@media (min-width: 992px) {
    html{font-size:30px;}
    #versusText {
        font-size:6rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    html{font-size:32px;}
    #randomButton {
        left:2rem;
    }
    #versusText {
        font-size:9rem;
    }
}

@media (min-width: 2000px) {
    html{font-size:55px;}
}

body {
    font-family: 'Teko', sans-serif;
    background-color: #141414;
    background-image: url(/assets/images/Ice-Background.jpg);
    background-color: #0e0e0e;
    background-repeat: no-repeat;
    background-size: cover;
}

#selectTeams {
    height:100%;
}

#selectTeams .row {
    height:100%;
    text-align:center;
    align-content: space-around;
}

 .teamLogo {
    max-width:100%;
}

.singlePageContainer {
    height:100vh;
}

.dropdownSelector {
    width:100%;
    margin: 0.6rem 0rem 0.5rem 0rem;
    text-align-last: center;
    justify-content: center;
    -moz-appearance: none;
	-webkit-appearance: none;
    appearance: none;
    color: #0f2441;
    padding: 0.3rem 1.2rem 0.3rem 0.3rem;
    font-weight: 500;
    border: 1px solid #76a5d1;
    box-shadow: 0 1px 0 1px #0000000a;
    border-radius: .2rem;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#c7c7c7 100%);
    background-repeat: no-repeat, repeat;
	background-position: right .35rem top 50%, 0 0;
    background-size: 0.65rem auto, 100%;
    /*CREDIT: https://www.filamentgroup.com/lab/select-css.html */
  }

#randomButton {
    font-size:2rem;
    background-color:#ffffff;
    text-shadow: 0 1px 0 #ffffff1a, 0 0 30px #ffffff66;
    border: #d3d3d3 0.1rem solid;
    border-radius: 2rem;
    padding:0.5rem;
    z-index:2;
    position: absolute;
    top:1rem;
    left: 0.5rem;
}

.btn:hover {
    cursor:pointer;
    background-image: linear-gradient(to bottom, #ffffff 0%,#c7c7c7 100%);
    border-color: #808080;
}

#compareButton {
    font-size:1.7rem;
    visibility:hidden;
    padding:0;
    width:100%;
}

#statistics .row {
    height:100%;
    align-content:space-around;
}

#statistics .row div ul {
    padding:0rem;
}

#statisticsContainer {
    overflow:hidden;
    transition:height 0.3s ease-out;
    height:auto;
}

.statList > li {
    margin: 0.1rem;
    padding:0.3rem 0.1rem;
    background-color: #d6d6d6b6;
    font-size:1.35rem;
    list-style:none;
    text-align: center;
}

.statList > li > i {
    padding-left:0.3rem;
}

#statistics > .row > div {
    padding: 0rem;
}

#resetButton {
    width:100%;
}