@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

@media (max-width: 425px) {
    body{
    background-color: black;
    background-image: url("./../images/HockeyPostSmallest.jpg");    
    background-position: left -20rem top 0rem;
    }
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width:426px) and (max-width: 767px) {
    html{font-size:18px;}
    body{
    background-color: black;
    background-image: url("./../images/HockeyPostSmaller.jpg");    
    background-position: left -20rem top 0rem;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html{font-size:22px;}
    body{
    background-image:url("./../images/HockeyPost.jpg");
}
}

/* Large devices (desktops, 992px and up */
@media (min-width: 992px) {
    html{font-size:28px;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    html{font-size:35px;}
    
}

@media (min-width: 2000px) {
    html{font-size:80px;}
}



body {
    font-family: 'Teko', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#selectTeams {
    /* height:100vh; */
    align-items:center;
    /* padding:0.5rem 0.5rem 1rem 0.5rem; */
}

.teamLogo {
    width:100%;
    height:100%;
    max-height:100%;
}
.statList > ul {
    padding:0.25rem;
}

.statList > ul > li {
    padding:0.5rem 0rem;
}

.vertical-center {
    height:100vh;
    display:flex;
    align-items:center;
}

li {
/*border: 5px solid blue;
border-radius: 3px;*/
background-color: rgba(255, 255, 255, 0.425);
list-style:none;
text-align: center;
}

#statistics {
    display:none;
}

.dropdownSelector {
    margin: 1rem 0rem 1rem 0rem;
    font-size: 1rem;
    -moz-appearance: none;
	-webkit-appearance: none;
    appearance: none;
    color: rgb(15, 36, 65);
    padding: 0.2rem 1.2rem 0.2rem 0.3rem;
    font-weight: 500;
    border: 1px solid rgb(118, 165, 209);
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .2rem;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#c7c7c7 100%);
    background-repeat: no-repeat, repeat;
	background-position: right .35rem top 50%, 0 0;
    background-size: 0.65rem auto, 100%;
    /*CREDIT: https://www.filamentgroup.com/lab/select-css.html */
  }

.dropdownSelector option {
    text-align: center;
}

#compareButton {
    visibility:hidden;
    font-size:1.5rem;
}